[submodule "d-mongodb"]
	path = d-mongodb
	url = https://git.charlesreid1.com/docker/d-mongodb.git
[submodule "d-mongoexpress"]
	path = d-mongoexpress
	url = https://git.charlesreid1.com/docker/d-mongoexpress.git
[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://git.charlesreid1.com/charlesreid1/mkdocs-material.git
